<!DOCTYPE html>
<html>
<head>
    <title>Life Expectancy Prediction</title>
</head>
<body>
    <h2>Enter Your Data</h2>
    <form action="/predict" method="post">
        <input type="number" name="Year" placeholder="Year" required>
        
        <label for="Sex">Sex:</label>
        <select name="Sex">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>

        <label for="Country">Country:</label>
        <select name="Country">
            <!-- List of countries -->
            <option value="Algeria">Algeria</option>
            <option value="Argentina">Argentina</option>
            <!-- Add other countries -->
        </select>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
